body{
    margin: 0;
    background: linear-gradient(#efe9e2,#e1d2c1);
    font-family: Suisse Intl, Helvetica, Arial, sans-serif;
}

.hr{
    display: flex;
    border: solid 1px black;
    border-radius: 100%;
}

p, h1, h2{
    color: black;
}

