

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1%;
    padding:35px 0 50px 0;

    hr{
        position: relative;
        right: 40%;
        top: 80px;
    }

    img{
        border-radius: 50%;
        width: 100px;
        border: black 5px double;
    }
    
    a{
        text-decoration: none;
        color: black;
        gap: 0px;
        padding: 10px;
        transition: all 0.3s;
        border-radius: 0%;

        &:hover{
            border: solid 1px black;
            border-radius: 25%;
            
            
        }
    }
}